body {
    background-color: #ccc;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

button {
  color: #fff;
  background-color: #09f;
  border: 0;
  padding: 10px 15px;
  border-radius: 20px;
  outline: 0;
  min-width: 70px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 10px 0;
}

small {
  color: #555;
}

.modal {
  position: relative;
  margin: 100px auto;
  width: 500px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.modal-header {
  position: relative;
  padding: 5px 15px;
  border-radius: 6px 6px 0 0;
  background-color: #eee;
}

.modal-content {
  position: relative;
  padding: 5px 15px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer {
  position: relative;
  padding: 10px 15px;
  border-top: solid 1px #ccc;
  display: flex;
  justify-content: flex-end;
}